@(message: String)

@import helper._

@main(title = "Web Ontology Classifier/Viewer") {
    
    
    
    <h1>Welcome to the Web Ontology Veiwer And Classifier</h1>
    
   
   		<h3><i>@(message)</i></h3>
   
	   
	    <p>This application is still in its testing stages and is still subject to errors.
	    <br> <br>    The WOC currently consists of 3 links above in the menu. <br>
	  
	    When either of them is clicked, an upload page will be displayed. Only Ontology .owl files will be handled.
	    <br> <br> 
	    The first item, <i>'Features to Elements'</i> allows you to view the list of diagnostic features on the left. You can then
	    select one or more Features and click the 'submit' button. <br>
	    Once clicked, the Features which you selected as well as the taxa associated with
	    the selected features will be displayed. 
	      <br> <br> 
	    
	    The second item, <i>'Elements to Features'</i> allows you to view the list of taxa on the left. You can then
	    select one or more taxa and click the 'submit' button. <br>
	    Once clicked, the selected taxa, the Common features and ALL the features associated with
	    the selected taxa will be displayed.     
	        
	        
	      <br> <br> 
	      
	    The third item, <i>'Compare 2'</i> allows you to view the list of taxa on the left. You can then
	    select ONLY 2 taxa and click the 'submit' button. <br>
	    Once clicked, each selected taxa will be displayed with their associated features below them and the common features
	    will be highlighted.
	   
	    
	    </p>
    
    
    <h4>Afrotropical Bees </h4>
    <p>
    
    Bees belong to the order Hymenoptera  (bees, wasps and ants): superfamily Apoidea: division Apiformes. Afrotropical bees belong to six 
    families: Colletidae, Andrenidae , Melittidae , Halictidae , Megachilidae  and Apidae , and comprise 99 genera and 2755 valid species excluding the honey bee./
A large reason why Afrotropical bees are under the spotlight is that they are one of the largest pollinator groups within our eco system. 
These pollinators are under severe pressure, which in turn threatens our food security. Certain high value crops require pollination in order to grow successfully.
The work of Eardley and Urban\ as well as Eardley, Kuhlmann and Pauly\ provide extensive taxonomic information on the valid names, nomenclatorial history of, 
and published references to, the known bees of Sub-Saharan Africa and the western Indian Ocean islands, excluding the honey bee (Apis mellifera Linnaeus). 
The Catalogue of Afrotropical bees (Hymenoptera: Apoidea: Apiformes)\ contains the species with references and taxonomic changes, such as new name combinations, 
with correct latinization and gender. It also provides the distribution of species by country, plants visited, hosts (for parasitic bee species) and parasites, 
as well as the typeâs gender, depository and country locality for each of the described species.
<br><br>
The species and genera descriptions with regards to morphology, distribution and behaviour are typically translated into a key that allows users to identify specific bee species or genera. 
The booklet, The Bee Genera and Subgenera of sub-Saharan Africa\ in addition to other information is designed to aid in the identification to, and function as such a key 
for the bee genera and subgenera that occur in sub-Saharan Africa. 
    
    </p>
    
    
    
    
}